body {
	margin: 0;
	background-color:#fff;
	font-family: sans-serif;
}

svg {
	height: 100%;
	width: 65%;
}

.polygon {
	stroke: #000;
	stroke-width: 5px;
	fill: red;
	fill-opacity:.5;
}

.polygon:hover{
    fill: #ccffff;
}

.multipolygon {
	stroke: #000;
	stroke-width: 5px;
	fill: red;
	fill-opacity:.5;
}

.multipolygon:hover{
    fill: #ccffff;
}

.point {
	stroke: yellow;
}

#sidebar {
    position: absolute; left: 65%; top: 0px;
    margin:25px;

    height:90%;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

.properties li {
	line-height: 25px;
}